---

---

<section class="flex flex-col gap-10">
	<h3 class="text-2xl font-bold text-[#0D141C] ">Contact</h3>
	<form class="flex flex-col gap-6 font-medium w-[480px] text-[#4F7396]">
		<div class="flex flex-row gap-4">
			<div class="flex flex-col gap-2">
				<label for="name" class="text-[#0D141C]">Name</label>
				<input
					type="text"
					id="name"
					name="name"
					placeholder="Your name"
					autocomplete="additional-name"
					class="px-2 py-3 rounded-xl  font-base bg-transparent border-2 transition-all focus:border-transparent focus:shadow-md focus:scale-105 border-[#D1DBE8] w-[233px] focus:outline-none"
					required
				/>
			</div>
			<div class="flex flex-col gap-2">
				<label for="email" class="text-[#0D141C]">Email</label>
				<input
					type="email"
					id="email"
					name="email"
					placeholder="Your email"
					class="px-2 py-3 rounded-xl font-base bg-transparent  focus:scale-105  transition-all focus:border-transparent focus:shadow-md border-2 border-[#D1DBE8] w-[233px] focus:outline-none"
					required
				/>
			</div>
		</div>
		<div class="flex flex-col">
			<!-- <label for="message">Message</label> -->
			<textarea
				id="message"
				name="message"
				placeholder="Write your message here"
				class="resize-none px-2 py-3 font-base transition-all focus:border-transparent focus:shadow-md rounded-xl bg-transparent focus:scale-105 border-2 border-[#D1DBE8] h-32 focus:outline-none"
				required></textarea>
		</div>
		<button type="submit" class="px-3 py-3 text-[#F7FAFC] bg-[#1A80E5] rounded-xl font-bold transition-all hover:scale-105 hover:shadow-md hover:text-[#1A80E5] hover:bg-[#F7FAFC] hover:text-lg">
			Send Message
		</button>
	</form>
</section>
