---

---

<footer class="flex flex-row border-t-2 w-[360px] lg:w-[960px] border-[var(--primary-color)] lg:border-slate-300">
	<div
		class="flex flex-col px-4 lg:px-0  gap-2 items-center w-full justify-center lg:justify-between lg:flex-row py-4 mb-4"
	>
		<div>
			<p class="text-center lg:text-start text-wrap text-[#0D141C] text-sm">
				Portfolio template crafted for the community. Feel free to use, modify, or collaborate; pull requests are welcome.
			</p>
		</div>
		<div class="flex flex-row gap-4 text-lg lg:text-base font-medium text-[var(--primary-color)]">
			<a href="https://github.com/EseToni/Portfolio-Template" target="_blank">Repo-Project</a>
		</div>
	</div>
</footer>
