---

---

<footer class="flex flex-row border-t-2 border-slate-300 justify-between py-4 mb-4">
	<div>
		<p>© 2020 - toni. All rights reserved.</p>
	</div>
	<div class="flex flex-row gap-4 font-medium">
		<p>GitHub</p>
		<p>Twitter</p>
		<p>LinkedIn</p>
	</div>
</footer>
