---

---

<section class="flex flex-row gap-4 ">
	<picture>
		<img src="../../images/hero.png" />
	</picture>
	<div class="flex flex-col justify-center gap-6">
		<div class="flex flex-col gap-2">
			<h2 class="text-5xl text-zinc-800 font-black">Hi, I'm Antonio</h2>
			<p class="text-zinc-800 text-left text-balance ">
				I'm a front-end developer basend in NYC.Currentrly building beautiful,
				usable interfaces at a creative agency
			</p>
		</div>

		<div class="flex flex-row gap-4 font-bold">
			<button
				class="bg-sky-500 rounded-lg text-zinc-100 py-2 px-4 flex text-center"
				>View Resume</button
			>
			<button
				class="bg-slate-300 rounded-lg text-zinc-800 py-2 px-4 flex text-center"
				>Contact</button
			>
		</div>
	</div>
</section>
