---
import DisplaySkills from "@components/DisplaySkills.tsx"
---

<div class="flex flex-col w-[340px] sm:w-auto gap-6 items-center" id="skills">
	<div class="flex flex-row justify-start items-start w-full">
		<h3 class="text-2xl font-bold text-[#0D141C]">Skills</h3>
	</div>
	<DisplaySkills client:idle />
</div>
