---
import "@fontsource-variable/inter"
interface Props {
	title: string
}

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio template for community, v1 @tonidev  #Portfolio-template"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="icons/astro.svg" />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col relative items-center py-0 justify-start overflow-x-hidden w-full bg-[#F7FAFC]"
	>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #6c91c2;
	}
	html {
		font-family: "Inter Variable", system-ui, sans-serif;
		background: #e8edf2;
	}
	html::-webkit-scrollbar {
		display: none;
	}
	@keyframes animate_nav {
		50% {
			border-color: transparent;
			backdrop-filter: blur(10px);
			background: transparent;
		}
		75% {
			backdrop-filter: blur(0px);
			background: #f7fafc;
		}
		100% {
			backdrop-filter: blur(0px);
			border-color: transparent;
			background: #f7fafc;
			box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.1);
		}
	}
	#navbar {
		animation: animate_nav linear both;
		animation-timeline: scroll();
		animation-range: 0 1480px;
	}
</style>
