---
import MoveButton from "./MoveButton"
import info from "@data/info.json"
---

<nav
	id="navbar"
	class="flex justify-center py-3 md:py-4 border-b-2 border-[#E5E8EB] fixed top-0 w-full left-0 z-20 navbar md:px-8 xl:px-0 px-10"
>
	<div class="flex fle-row justify-between w-[1080px]">
		<div class="md:flex flex-row gap-4 items-center hidden">
			<a
				href={`${info.gitUrl || "https://github.com/EseToni"}`}
				target="_blank"
			>
				<svg width="22" height="22" viewBox="0 0 256 256"
					><path
						fill="#0D141C"
						d="M208 112a32.06 32.06 0 0 0-31 24h-25a40.19 40.19 0 0 1-32-16L93.69 84.92A32 32 0 1 0 72 87v82a32 32 0 1 0 16 0v-65l19.2 25.6A56.26 56.26 0 0 0 152 152h25a32 32 0 1 0 31-40M96 200a16 16 0 1 1-16-16a16 16 0 0 1 16 16m112-40a16 16 0 0 1-16-16a16 16 0 1 1 16 16"
					></path></svg
				>
			</a>

			<a href="https://github.com/EseToni/Portfolio-Template" target="_blank">
				<h4 class="font-bold text-[#0D141C] text-xl">
					{info.alias || "Tonidev"}
				</h4>
			</a>
		</div>

		<div
			class="flex flex-row gap-4 md:gap-8 font-medium w-full md:w-auto text-[#0D141C] justify-center text-base items-center"
		>
			<MoveButton client:idle targetId="hero">
				<button
					class="rounded-xl px-3 py-1 text-center transition-all hover:shadow-sm hover:scale-105"
				>
					Hero</button
				>
			</MoveButton>
			<MoveButton client:idle targetId="projects">
				<button
					class="rounded-xl px-3 py-1 text-center transition-all hover:shadow-sm hover:scale-105"
				>
					Projects</button
				>
			</MoveButton>
			<MoveButton client:idle targetId="skills">
				<button
					class="rounded-xl px-3 py-1 text-center transition-all hover:shadow-sm hover:scale-105"
				>
					Skills</button
				>
			</MoveButton>
			<MoveButton client:idle targetId="contact">
				<button
					class="bg-[var(--primary-color)] text-[#F7FAFC] rounded-xl px-4 py-2 font-bold text-center transition-all hover:bg-[#F7FAFC] hover:text-[var(--primary-color)] hover:shadow-sm hover:scale-105"
				>
					Contact
				</button>
			</MoveButton>
		</div>
	</div>
</nav>
