@supports selector(::-webkit-scrollbar) {
	.miniScroll::-webkit-scrollbar {

        width: 8px;
		display: block;
		background: transparent;
	}
	.miniScroll::-webkit-scrollbar-thumb {
		background: var(--primary-color);
		backdrop-filter: blur(10px);
		border-radius: 10px;
        height: 2px;

	}
	.miniScroll::-webkit-scrollbar-track-piece {
		background: transparent; /* Ocultar las flechas en WebKit */
	}
    .miniScroll::-webkit-scrollbar {
        display: none;
    }
}
.miniScroll::-webkit-scrollbar {
    display: none;
}
