---
import Layout from "../layouts/Layout.astro"
import Hero from "@sections/Hero.astro"
import Projects from "@sections/Projects.astro"
import Skills from "@sections/Skills.astro"
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col px-60 gap-8">
		<nav>soy nav</nav>
		<Hero />
		<Projects />
		<Skills />
	</main>
</Layout>
